* {
  margin: 0;
  padding: 0;
  font-weight: 100;
}
.header {
  background: #41baa4;
  margin: 0px;
  display: flex;
  justify-content: space-between;
}

.header-title {
  margin: 16px;
  font-size: 20px;
  color: #fff;
}
.header-title a {
  border-bottom: #fff;
}
a {
  color: #fff;
}
.header-nav-item a:hover {
  color: #fff;
  border-bottom: #fff;
}
.header-nav-item a {
  padding: 20px;
  display: block;

  color: #fff;
  text-decoration: none;
  text-align: center;
}
.header-nav-item a:hover {
  background-color: #ffffff38;
}

.menu-button {
  display: none;
  place-items: center;
  width: 88px;
  height: 88px;
  background-color: #3b4552;
}
.menu-button svg {
  width: 32px;
  height: 32px;
}
.menu-button:hover + .header-nav {
  display: block;
}

.header-nav {
  margin: 0px;
  list-style-type: none;
  gap: 5px;
  display: flex;
}
@media (width<750px) {
  .header-nav {
    display: none;
    position: absolute;
    background-color: #3b4552;
    top: 64px;
    left: 0;
    right: 0;
  }
  .header-nav:hover {
    display: block;
  }
  .header-nav-item a {
    padding: 16px;
    text-align: left;
    font-size: 13px;
  }
  .menu-button {
    display: grid;
  }
}
.main-discription-container {
  background-color: #47b39d;
  text-align: center;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-title {
  color: #fff;
  font-size: 48px;
  margin: 20px;
}
.main-discription {
  width: 80%;
  max-width: 800px;
  color: #fff;
  font-size: 14px;
  margin: 20px;
}

.entry {
  border-top: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
}
.entry-title {
  padding: 30px;

  border-bottom: 2px solid #ccc;
}
.entry-item {
  display: flex;
  flex-direction: column-reverse;
  margin: 0 8px;
  max-width: 211px;
  position: relative;
}

.entry-item-wrap img {
  width: 100%;
}
.entry-item-wrap {
  justify-content: center;
  display: flex;
  margin: 40px;
}
@media (width<750px) {
  .entry-item {
    margin: 20px 0;
    max-width: none;
  }
  .entry-item-wrap {
    margin: 32px 16px;
    display: block;
  }
}
.entry-item-category {
  background-color: #47b39d;
  color: #fff;
  font-size: 12px;
  width: 110px;
  padding: 7px;
  display: flex;
  justify-content: center;
}
.entry-item-title {
  font-size: 16px;
  font-weight: 200;
}
.entry-title {
  display: flex;
  justify-content: center;
}

.entry-item-title a {
  padding: 5px;
  display: block;
  background-color: #ffffff;
  color: #000;
  text-decoration: underline #fff;
  min-width: 100%;
}

.entry-item-title a:hover {
  text-decoration: underline #47b39d;
}
.entry-item-number {
  position: absolute;
  top: 0;
  background-color: rgba(218, 165, 32, 0.396);
  color: #fff;
  display: flex;
  padding: 5px;
  line-height: 35px;
}
.entry-date {
  position: absolute;
  padding: 5px;
  background-color: #373344c1;
  top: 0;
  color: #fff;
}
.contents-title {
  padding: 16px 0;
  text-align: center;
  background-color: #3b4552;
  color: #ffffff;
  padding: 28px;
  font-weight: normal;
  position: relative;
}
.contents-title span {
  display: block;
  font-size: 13px;
}
.contents-title ::after {
  content: "";
  width: 0;
  border: 0 solid transparent; /*transparent=透明*/
  border-top-width: 20px;
  border-left-width: 40px;
  border-right-width: 40px;
  border-top-color: #3b4552;
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.feature-wrap {
  background-color: #cccccc2b;
}
.feature-item {
  height: 400px;
  display: grid;
  grid-template:
    "feature-item-img feature-item-title " auto
    "feature-item-img feature-item-text" 1fr
    "feature-item-img feature-item-link  " auto
    / 45% 1fr;
  row-gap: 8px;

  overflow: hidden;
}
.feature-item:not(:first-of-type) {
  border-top: 2px solid #ccc;
}

.feature-item:nth-child(even) {
  grid-template:
    "feature-item-title feature-item-img  " auto
    "feature-item-text feature-item-img " 1fr
    "feature-item-link feature-item-img  " auto
    / 1fr 45%;

  row-gap: 10px;
}
.feature-item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.feature-item-img {
  grid-area: feature-item-img;
}
.feature-item-title {
  color: #47b39d;
  font-size: 36px;
  grid-area: feature-item-title;
}
.feature-item-text {
  grid-area: feature-item-text;

  margin-top: 15px;
  margin-bottom: 15px;
}
.feature-item-link a {
  grid-area: feature-item-link;
  padding: 16px;
  display: block;
  background-color: #ff6c00;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  width: 100px;
  margin-bottom: 100px;
  text-decoration: none;
}
.feature-item-link :hover {
  background-color: #ff852d;
}

.number {
  font-size: 13px;
  width: 30px;
  height: 50px;
  padding: 16px 0;
  display: flex;
  background-color: #47b39d;
  align-items: flex-end;
  justify-content: center;
  color: #fff;
}
.english {
  color: #47b39d;
  font-size: 13px;
  display: block;
}
.feature-item-title,
.feature-item-text,
p.feature-item-link {
  margin-left: 10%;
  margin-right: 5%;
}
@media (width<750px) {
  /* 詳しく見るのボタンが左右くっついてるからそれを開ける */
  .feature-item {
    display: block;
    height: auto;
    padding-bottom: 10%;
  }
  .feature-item:nth-child(even) {
    margin: 0;
  }
  .feature-item-title {
    text-align: center;
  }
  .feature-item-title span {
    margin: auto;
  }
  .contents-title ::after {
    display: none;
  }
  .feature-item-text {
    margin: auto;
    padding: 20px;
  }
  .feature-item-link a {
    margin: auto;
    width: auto;
    padding: 5px;
  }
  .english {
    padding: 10px;
  }
  .number {
    width: 30px;
  }
}

.service-title {
  margin-top: 20%;
  color: #47b39d;
  font-size: 36px;
}
.service-title span {
  margin: 5%;
  display: block;
  font-size: 13px;
  color: #47b39d;
}
.service-in {
  display: flex;
  flex-wrap: wrap;
}
.service-item {
  width: 50%;
  text-align: center;
  padding-bottom: 5%;
}
.service-link a {
  text-decoration: none;
  display: block;
  background-color: #47b39d;
  color: #fff;
  width: 250px;
  padding: 20px;
  border-radius: 5px;
  margin: 0 auto;
}
.service-link :hover {
  background-color: #47b39db1;
}
@media (width<750px) {
  .service-item {
    margin: 20px 0;
    max-width: none;
    width: 100%;
  }
  .service-in {
    margin: 32px 16px;
    display: block;
  }
}
.company-item {
  font-size: 16px;
  margin: 46px;
  display: flex;
  flex-wrap: wrap;
  width: 40%;
  border-bottom: 1px solid #ccc;
}

.company-content {
  width: calc(100% - 200px);
}
.company-title:first-child {
  border-top: 1px solid #47b39d;
}
.company-title {
  width: 200px;

  border-top: 1px solid #ccc;
  padding-left: 50px;
  box-sizing: border-box;
  padding: 20px 65px;
}
.company-content {
  border-top: 1px solid #ccc;
  padding-left: 50px;
  box-sizing: border-box;
  padding: 20px 10px;
}

.compny-content-map {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
iframe {
  width: 600px;
  height: 470px;
}
@media (width<1200px) {
  .compny-content-map {
    display: block;
  }
  .company-item {
    width: auto;
  }
  .company-item {
    width: auto;
  }
  .company-content {
    border-style: none;
    width: auto;
  }
  g-map {
    width: 100%;
  }
  .company-title,
  .company-content {
    padding: 15px;
  }
  .company-title {
    font-weight: 700;
    width: 100%;
  }
  .company-title:first-child {
    width: 100%;
  }
  iframe {
    width: 100%;
  }
}
@media (width<400px) {
  .compny-content-map {
    display: block;
  }
  .company-item {
    display: block;
    flex-direction: column;

    justify-content: center;
  }
  .company-content {
    border-style: none;
    width: auto;
  }
  g-map {
    width: 100%;
  }
  .company-title,
  .company-content {
    padding: 10px;
  }
  .company-title {
    font-weight: 700;
    width: 100%;
  }
  .company-title:first-child {
    width: 100%;
  }
  iframe {
    width: 100%;
  }
}

.inquiry {
  background-color: #47b39d;
  color: #fff;
  text-align: center;
}
.inquiry-name {
  margin-top: 40px;
}
.input-name {
  padding-bottom: 15px;
}
.input-subject {
  padding-bottom: 15px;
}
.input-email {
  padding-bottom: 15px;
}
.input-title {
  padding-bottom: 15px;
}
.input-message {
  padding-bottom: 15px;
}
.inquiry-send-button {
  padding-bottom: 40px;
}
.inquiry-send-button input {
  background-color: #031731;
  color: #fff;
  width: 10%;
}
.inquiry input {
  border-radius: 5px;
  border: none;
}
.inquiry-send-button input {
  padding: 15px;
}
.inquiry textarea {
  border-radius: 3px;
  border: none;
}
input {
  padding: 6px;
}
.footer {
  background-color: #031731;
  color: #fff;
}
.footer-item-title {
  margin-bottom: 30px;
}
.footer-title {
  padding: 70px;
  font-size: 24px;
  border-bottom: 1px solid #3b4552;
  max-width: 70%;
}
.footer-item {
  width: 40%;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  padding-top: 40px;
  padding-bottom: 60px;
}
.footer-item-link a {
  color: #fff;
  text-decoration: none;
}
.footer-item-link {
  margin-bottom: 30px;
}
.footer-item-wrap {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  padding: 30px;
}
.copyright {
  padding: 20px;
  background-color: #000;
  color: #fff;
  font-size: 13px;
  text-align: center;
}
.triangle {
  padding-right: 5px;
}
@media (width<750px) {
  .footer-item-wrap {
    display: block;
    width: 100%;
  }
  .footer-item {
    padding: 0;
  }
}
